<div class="col">
    <div class="card h-100">
        <img src="{{ object.foto.url }}" class="card-img-top img-product" alt="...">
        <div class="card-body">
            <h6 class="card-title">{{ object.categoria }} | {{ object.nombre }}</h6>
            <p class="truncate-4">{{ object.descripcion }}</p>
            <p class="card-text">{{ object.tipo }}</p>
        </div>
        <div class="text-center card-footer">
            <a href="{% url 'producto-editar' object.pk %}" class="btn  my-1 btn-warning">Editar</a>
            <a href="{% url 'producto-eliminar' object.pk %}" class="btn my-1 btn-danger">Eliminar</a>
        </div>
    </div>
</div>